h1 {
    font-family: 'LiSong Pro', serif !important;
    font-size: 5em;
    font-weight: 400;
}

h2 {
    &::after {
        background: $primary;
        content: '';
        display: block;
        height: 2px;
        margin: 0 auto;
        width: 280px;
    }
}

h1, h2, h3, h4, h5, h6 {
font-family: "Helvetica", $font-family-base;
}