h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", $font-family-base;
}

h1 {
    font-family: 'LiSong Pro', serif !important;
    font-size: 5em;
    font-weight: 400;
    padding-bottom: 0.3em;
    @include media-breakpoint-down(md) {
        font-size: 4rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
    }
}

body {
    font-family: 'Open Sans', sans-serif;

}

h2 {
    &::after {
        background: $primary;
        content: '';
        display: block;
        height: 2px;
        margin: 0 auto;
        width: 280px;
    }
}

p {
    font-family: 'Open Sans', sans-serif;
}
