.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
        margin-bottom: 2em;


        .desc {
            margin: 0;
        }

        time {
            padding: 0.5em;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                border-right: none;
                border-bottom: 2px solid $primary;
                padding: 1em;
            }

            > span {
                display: none;
            }

            > .day {
                display: block;
                font-size: 56pt;
                line-height: 1;
            }

            > .month {
                display: block;
                font-size: 24pt;
                line-height: 1;
            }
        }
    }

    .event-desc {
        padding: 1em;
        border-left: 2px solid $primary;
        
        @include media-breakpoint-down(sm) {
            border-left: none;
            padding: 1em;
        }
    }

    .event-more {
        @include media-breakpoint-down(sm) {
            .btn {
                width: 100% !important;
                border-radius: 0;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
            }
        }
    }
}