.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;

    height: 100vh;

    .btn {
        bottom: 0;
    }
}

.uclan-logo {
    margin: 15px 20px -30px;
    width: 3.5em;    
}

h1 {
    font-size: 50px;

    @include media-breakpoint-down(sm) {
        font-size: 45px;
    }
}
