.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;

    height: 100vh;

    .btn {
        bottom: 0;
    }
}

.uclan-logo {
    width: 3.5em;
    margin: 15px 20px -30px 20px

}
h1 {
  font-size: 50px
}
