.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;

    height: 100vh;

    .btn {
        bottom: 0;
    }
}

.uclan-logo {
    width: 1.5em;
}