@import 'tools/_all.scss';

@import 'settings/_all.scss';

@import 'vendor/_all.scss';

@import 'global/_all.scss';

@import 'modules/_all.scss';

.modal:nth-of-type(even) {
  z-index: 1042 !important;
}

.modal-backdrop.in:nth-of-type(even) {
  z-index: 1041 !important;
}

#map {
  width: 100%;
  height: 400px;
}
        
.CUinfo {
  padding-top: 10px;
  font-weight: 100 !important;
}
